# Python related stuff
__pycache__

# directories
test_images
result_images
models

# files
*.pt
*.jpeg

# datasets
construction-ppe
construction_ppe_filtered
construction_site_safety_dataset
css_dataset_filtered
head_detection_*
combined_datasets
